@font-face {
	font-family: 'inconsolata';
	src: url('fonts/inconsolata-variablefont_wdthwght-webfont.woff2') format('woff2'),
		url('fonts/inconsolata-variablefont_wdthwght-webfont.woff') format('woff');
}

@font-face {
	font-family: 'rubik';
	src: url('fonts/rubik-variablefont_wght-webfont.woff2') format('woff2'),
		url('fonts/rubik-variablefont_wght-webfont.woff') format('woff');
}

body {
	margin: 0;
	padding: 0;
}

main {
	display: flex;
	width: 100%;
}

#img-container{
	width: 30vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	color: white;
}

#bg-img {
	height: 100%;
}

#logo-container{
	background-color: rgba(82, 175, 0, 0.09);
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 18vh;
	width: 100%;
	position: absolute;
	top: 18vh;
	font-size: 4rem;
	font-family: 'inconsolata';
}

#company-logo {
	height: 100%;
	border-radius: 10%;
}

#img-footer {
	position: absolute;
	bottom: 0%;
	background-color: rgba(255, 255, 255, 0.2);
	width: 100%;
	text-align: center;
}

#img-footer a {
	color: white;
}

#content-container {
	width: 70vw;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fafafa
}

#content {
	text-align: center;
}

#git-top-container {
	display: flex;
	justify-content: space-between;
	margin-top: 1%;
}

#git-logo {
	width: 100px;
}

#form-container {
	background-color: white;
	box-shadow: 0px 2px 10px gray;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 50vh;
	position: relative;
	bottom: 20vh;
}

#general-error-container {
	display: flex;
	flex-direction: column;
}

#general-error {
	width: 70vw;
	background-color: rgba(255, 70, 92, 0.41);
	color: rgba(179, 0, 21, 1);
	text-align: center;
}

#general-error:nth--child(n+1){
	margin-top: 5px;
}

#form > fieldset {
	border: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 7%;
}

#form > fieldset > div {
	display: flex;
	margin-top: 4vh;
	transition: 0.3s;
}

#form > fieldset > div > div {
	display: flex;
	flex-direction: column;
}

#form > fieldset > div > div:first-child {
	margin-right: 5vw;
}

#account-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 105%;
}

#account-container > button {
	padding: 10px;
	margin-bottom: 5%;
}

input {
	width: 15vw;
	outline: none;
}

input:valid {
	border: 2px solid #00FFAB;
}

input:hover {
	border: 2px solid blue;
}

input:focus {
	border: 2px solid rgba(221, 67, 209, 0.22);
}

.error-input {
	background-color: rgba(255, 70, 92, 0.41);
	border: 2px solid red !important;
}

.error-container {
	max-width: 15vw;
}

.error-span {
	background-color: rgba(255, 70, 92, 0.21);
	color: rgba(179, 0, 21, 1);
}

#submit-btn {
	border: 1px solid black;
	border-radius: 2px;
}

.valid-btn {
	background-color: #00FFAB;
	cursor: pointer;
}

#account-container > span > a {
	color: #00FFAB;
}